.button p span{
    font-size: 4vmin;
    padding: 2vmin;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    margin-top: 50vmin;
}

.button p{
    margin-top: 50vmin;
}

.bg{
    background: rgba(0, 0, 0, 0.5);
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
}

.modal .box{
    background: white;
    height: 30%;
}

.modal{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    padding: 16px;
}

.header p{
    flex-grow: 1;
    color: white;
    font-size: 3vmin;
    margin: 0;
}

.fas{
    color: white;
    font-size: 3vmin;
}

.content{
    padding: 8px;
}

.btns{
    font-size: 2vmin;
    padding: 8px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    border: none;
}

.btns:hover{
    cursor: pointer;
    opacity: 0.6;
}

.btns:focus{
    outline: none;
}

.footer{
    text-align: end;
}

@media only screen and (max-width:576px){
    .modal{
        width: 80%;
    }

    .header p{
        font-size: 5vmin;
    }

    .fas{
        font-size: 4vmin;
    }

    .btns{
        font-size: 4vmin;
    }
}

@media only screen and (min-width:900px){
    .modal{
        width: 40%;
    }
}